code{
    line-height: 2rem;
    margin: 0;
    background-color: rgba(14, 210, 247, .05);
    word-wrap: break-word;
    // white-space: pre-wrap;
    overflow-x: auto;
    // padding: .1rem .3rem;
    border-radius: .3rem;
    color: #96c5ff !important;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace !important;
}
.highlight{
    // 取消代码块的边框
    td{
        border: none !important;
    }
    pre{
        /* Avoid pushing up the copy buttons. */
        //margin: 0;
        overflow-x: auto;
        font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace !important;
    }
}
// 设置代码块复制按钮样式
.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;

    font-family: none;
    line-height: normal;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}
